.section-panel{
    box-sizing: border-box;
    padding: 1rem;
}

.container-panel{
    box-sizing: border-box;
    background-color: rgb(212, 217, 221);
}


.datos-panel{
    box-sizing: border-box;
    width: 18rem;
    gap: .5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 1px solid;
}