.section-pp{
    box-sizing: border-box;
    width: clamp(20rem, 100vw, 34rem);
    height: 33rem;
    justify-content: center;
    background-color: rgb(243, 242, 242);
    position: fixed;
    border-radius: 1rem;
    overflow-y: auto;
    margin-left: -1rem;
    padding: 1rem;
    box-shadow: 1px 1px 7px 3px rgb(141, 138, 138);
}

.container-pp{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container-cp:hover{
    background-color: rgb(149, 151, 151);
}

.container-cp1{
    border-radius: .7rem;
    background-color: rgb(245, 248, 248);
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid;
    box-sizing: border-box;
    width: 8.5rem;
    padding:.2rem;
}

.container-cp1:hover{
    background-color: rgb(149, 151, 151);
}

.container-ca{
    display: flex;
    justify-content: flex-end;
}
.cancel{
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.cancel:hover{
    color: tomato;
}
